@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Noirden";
  src: url("./assets/fonts/Noirden-Light.woff2") format("woff2"),
    url("./assets/fonts/Noirden-Light.ttf") format("truetype");
  font-weight: 300; /* Light */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noirden";
  src: url("./assets/fonts/Noirden-Regular.woff2") format("woff2"),
    url("./assets/fonts/Noirden-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noirden";
  src: url("./assets/fonts/Noirden-Bold.woff2") format("woff2"),
    url("./assets/fonts/Noirden-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold */
  font-style: bold;
  font-display: swap;
}

* {
  box-sizing: border-box; /* Asegura que el ancho total incluya bordes y padding */
}

/* html {
  font-size: calc(0.8rem + 0.5vw);
} */

body {
  margin: 0;
  width: 100%;
  min-height: 400vh;
  /* background-image: url("./assets/background.png"); */
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  font-family: "Noirden", sans-serif;
  @apply bg-[#c2c7cf]/*bg-[url("./assets/background_sm.png")] md:bg-[url("./assets/background.png")] bg-fixed lg:bg-scroll; */;
}

section {
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  line-height: 1;
}
/* 
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

.bg__projects img {
  @apply absolute w-full h-full object-cover;

  clip-path: inset(100% 0% 0% 0%);
  will-change: clip-path;
}

.project__card__image img {
  clip-path: inset(100% 0% 0% 0%);
  will-change: clip-path;
}

.bg__1 {
  clip-path: inset(0% 0% 0% 0%);
}

.project__card__image img {
  @apply absolute left-0 top-0 h-full rounded-[0.5rem];
}

.project__card__index span {
  @apply text-dark_grey;
}

.project__card__index__container span {
  @apply block text-dark_grey;
}

.project__card__heading__container h1 {
  @apply text-2xl tracking-wider text-gray-800;
}

.project__card__paragraph p {
  @apply tracking-wide text-gray-800;
}
.project__card__paragraph__container,
.project__card__heading__container {
  transition: transform 0.5s ease-in-out;
  will-change: transform;
  @apply text-dark_blue;
}

.project__card__index__container {
  transition: transform 0.2s ease-in-out;
  will-change: transform;
}

.project__card__index__container span {
  @apply text-dark_blue;
}

.masking__text {
  @apply block overflow-hidden;
}

.masking__text div {
  will-change: transform;
}

.contact_wrapper a {
  @apply text-dark_blue text-lg;
}

.contact_wrapper h3 {
  @apply text-lg font-bold;
}

.form_wrapper h3 {
  @apply font-bold;
}
.form_wrapper input,
textarea {
  @apply rounded-[0.5rem];
}

.footer_banner a {
  @apply text-dark_blue font-bold text-sm;
}

.horizontal_testimonial h2 {
  @apply text-2xl;
}

/* .horizontal_testimonial p {
  @apply font-light before:content-['“'] after:content-['”']  after:absolute before:left-0 after:right-0 before:top-0 after:bottom-0 before:text-4xl after:text-4xl;
} */

/* .vertical_testimonial p {
  @apply font-light before:content-['“'] after:content-['”']  after:absolute before:left-0 after:right-0 before:top-0 after:bottom-[-2.5rem] before:text-4xl after:text-4xl;
} */

.horizontal_testimonial img {
  @apply rounded-[0.5rem];
}

.vertical_testimonial img {
  @apply w-2/3 rounded-[0.5rem];
}

.vertical_testimonial h2 {
  @apply text-2xl;
}

.last_testimonial {
  @apply mb-12;
}

.employee_info h2 {
  @apply text-2xl;
}
.employee_info p {
  @apply font-light;
}
.image_container {
  mask-image: linear-gradient(black 50%, transparent);
}

#header {
  mask-image: linear-gradient(black 80%, transparent);
}

/* --- Preloader ocupa toda la pantalla --- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: opacity 0.5s ease;
}

/* --- Logo Animaciones --- */
#logo path,
polygon {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke: #162d57;
  fill: transparent;
  animation: draw 4s forwards ease-in-out, fillIn 2s forwards ease-in-out 1s;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fillIn {
  to {
    fill: #162d57; /* O el color que quieras */
  }
}

#home {
  opacity: 0;
  visibility: hidden;
  overflow-y: hidden;
  transition: opacity 1s ease;
}
